<!DOCTYPE HTML>
<html>
<head>

    <meta charset="utf-8">
    <title>Add a picture</title>

</head>

<body>

    <h2 style="font-weight: bold; text-align: center  ; color: #0066FF; margin-bottom: 5%;">Add a Picture</h2>

    <!-- Here will be the form to set -->
    {{ include("aroussiePictureshopBundle:Pictures:form.html.twig") }}


</body>
</html>